/* Fontes
 *--------------------------------------------------*/

@font-face {
  font-family: 'kartika';
  src: url("../fontes/KARTIKA.eot"); /* EOT file for IE */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kartika';
  src: local("../fontes/KARTIKA.TTF"), url("../fontes/KARTIKA.TTF"); /* TTF file for CSS3 browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'khmerui';
  src: url("../fontes/KHMERUI.eot"); /* EOT file for IE */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'khmerui';
  src: local("../fontes/KHMERUI.TTF"), url("../fontes/KHMERUI.TTF"); /* TTF file for CSS3 browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'khmeruiBold';
  src: url("../fontes/KHMERUIB.eot"); /* EOT file for IE */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'khmeruiBold';
  src: local("../fontes/KHMERUIB.TTF"), url("../fontes/KHMERUIB.TTF"); /* TTF file for CSS3 browsers */
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: 'kartikaBold';
  src: url("../fontes/KARTIKAB.eot"); /* EOT file for IE
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: kartikaBold;
  src: local("../fontes/KARTIKAB.TTF"), url("../fontes/KARTIKAB.TTF"); /* TTF file for CSS3 browsers
  font-weight: normal;
  font-style: normal;
}
*/



/* Navbar
 *--------------------------------------------------*/
.navbar {
  min-height: 105px;
  margin-bottom: 0px;
}

.navbar-brand {
  width: 250px;
  height: 70px;
  padding: 0px 0px;
  margin: 15px 0px!important;
}

.navbar-default {
  background-color: #fff;
  border-color: #e8e8e8;
}

.navbar-default .navbar-nav li a,
.navbar-default .btn-link {
  font-family: 'kartika';
  font-size: 1.1em;
  color: #2479bc;
  font-weight: bolder;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  color: #3bafda;
  background-color: #fff;
}

.navbar-default .btn-link {
  color: #2479bc;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #3bafda;
  background-color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #2479bc;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #3bafda;
  background-color: #fff;
}

.dropdown-menu {
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  background-color: #2479bc;
  border-color: #2479bc;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #3bafda;
  border-color: #3bafda;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle {
  margin-top: 28px;
  margin-right: 20px;
  margin-bottom: 8px;
}

.navbar .btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border-color: #e8e8e8;
}

.navbar-brand .img-responsive {
  max-width: 85%;
  margin-left: 5px;
}



/* Intro
 *--------------------------------------------------*/

.intro-section {
  font-family: 'khmerui';
  font-size: 1em;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 50px;
}

.intro-section .container {
  padding-left: 0px;
  padding-right: 0px;
}

.intro-bg {
  height: 100%;
  text-align: center;
  background: url(../img/intro-bg.jpg) no-repeat center center scroll;
  -pie-background: url(../img/intro-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 0px;
  behavior: url(PIE.htc);
}

.intro-section .hide-img {
  display: none;
}

.intro-section .img-responsive {
  margin: 60px auto 30px auto;

}

.intro-section h2 {
  font-weight: lighter;
}

.intro-section p {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3em;
}

.intro-section a {
  color: #fff;
}

.intro-section a:hover,
.intro-section a:focus {
  color: #3bafda;
}

.intro-section .config-CertDigit {
  margin-top: 50px;
  margin-bottom: 10px;
}



/* Certificado Digital
 *--------------------------------------------------*/

.cert-digit-section {
  margin: 0px;
  font-family: 'khmerui';
}

.cert-digit-section h1,
.cert-digit-section p {
  color: #8c8c8c;
}

.cert-digit-section .jumbotron {
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 50px;
}

.cert-digit-section .btn {
  font-family: 'kartika';
  width: 60%;
  padding: 7px 12px 5px 12px;
  margin: 32px auto 10px auto;
  font-weight: bold;
}


/* Credit Service
 *--------------------------------------------------*/

.credit-service-section {
  margin: 0px;
  font-family: 'khmerui';
}

.credit-service-bg {
  height: 110px;
  text-align: center;
  margin: 0px 0px 50px 0px;
  position: relative;
  background: url(../img/credit-service-home.jpg) no-repeat center center scroll;
  -pie-background: url(../img/credit-service-home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 85% 0px;
  behavior: url(PIE.htc);
}

.credit-service-section .credit-service-bg h1 {
  font-family: 'kartika';
  font-size: 2.15em;
  position: absolute;
  top: 50%;
  margin-top: -16.79px;
  left: 50%;
  margin-left: -143.97px;
}

.credit-service-section .jumbotron .jumbotron-contents {
  padding: 0px 15px 20px 15px;
}

.credit-service-section .jumbotron-contents h1 {
  font-family: 'khmeruiBold';
  font-size: 3em;
  margin-top: 0px;
}

.credit-service-section .jumbotron-contents h3 {
  margin-top: 0px;
  font-size: 1.5em;
  font-weight: lighter;
}

.credit-service-section .jumbotron-contents h4 {
  font-family: 'khmeruiBold';
  font-weight: lighter;
  margin-bottom: 5px;
}

.credit-service-section h1,
.credit-service-section h3,
.credit-service-section h4,
.credit-service-section p {
  color: #8c8c8c;
}

.credit-service-section .jumbotron {
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 50px;
}

.credit-service-section .btn {
  font-family: 'kartika';
  width: 60%;
  padding: 7px 12px 5px 12px;
  margin: 32px auto 10px auto;
  font-weight: bold;
}




/* Mapa
 *--------------------------------------------------*/

.map {
  padding-top:97px;
}

.map iframe {
  pointer-events: none;
}



/* Contato
 *--------------------------------------------------*/



/* Rodapé
 *--------------------------------------------------*/

.footer-section {
  height: 100%;
  margin-top: 50px;
  font-family: 'khmerui';
  background-color: #f8f8f8;
  position: relative;
}

.footer-section .img-footer {
  margin: 20px 0px 20px 0px;
}

.footer-section p {
  text-align: right;
  margin: 20px 0px 70px 0px;
  color: #5b5b5b
}

.footer-section .cpright {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -120px;
  color: #5b5b5b;
}

.footer-section i {
  color: #3b5998;
}

.footer-section i:hover {
  color: #1553d4;
}

.footer-section a {
 color: #3b5998;
}

.footer-section a:hover{
 color: #3b5998;
 text-decoration: underline;
}


/* Resposividade
 *--------------------------------------------------*/

/* Small devices (Smatphones, larguras até 500px) */
@media screen and (max-width: 500px) {


}


/* Small devices (tablets, larguras até 600px) */
@media screen and (max-width: 600px) {


  /* Mapa
   *----------------------------------*/
  .embed-responsive-16by9 {
    padding-bottom: 100%;
  }

}


/* Small devices (tablets, larguras até 980px) */
@media screen and (max-width: 980px) {

  /* Mapa
   *----------------------------------*/
  .embed-responsive-16by9 {
    padding-bottom: 70%;
  }

}


/* Small devices (tablets, larguras a partir de 600px) */
@media screen and (min-width: 600px) {

  /* Intro
   *----------------------------------*/

  .intro-section .hide-img {
    display: block;
  }

  .intro-section h2 {
    margin-top: 12px;
    margin-bottom: 5px;
  }

  .intro-section p {
    text-align: justify;
  }


  /* Certificado Digital
   *----------------------------------*/

  .cert-digit-section .jumbotron {
  margin: 0px 70px 50px 70px;
  }

  .cert-digit-section .btn {
    width: 33%;
  }

  /* Credit Service
   *----------------------------------*/

  .credit-service-section .jumbotron {
  margin: 0px 70px 50px 70px;
  }


  .credit-service-section .btn {
    width: 33%;
  }

  .credit-service-section #credit-service-group .btn {
    width: 45%;
  }



  /* Contato
   *----------------------------------*/

}


/* Small devices (tablets, larguras a partir de 768px) */
@media screen and (min-width: 768px) {

  /* Navbar
   *----------------------------------*/

  .navbar-brand .img-responsive {
    max-width: 100%;
    margin-left: -5px;
  }

  .navbar-brand {
    margin: 11px 0px !important;
  }


  .navbar-default .container {
    padding-right: 0px
  }

  .navbar-collapse {
    padding-right: 0px;    
  }

  .navbar-default {
    border-color: #fff;
  }

  .navbar-default .navbar-collapse {
    margin-top: 28px;
    margin-right: 20px;
    margin-bottom: 8px;
  }

  .navbar-default .navbar-nav li a,
  .navbar-default .btn-link {
    font-size: 0.82em;
  }

  .navbar .dropdown-menu li a {
    padding: 11px 20px 7px 20px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > #borda > a {
    border-top: 1px solid #e3e3e3;
  }

  .navbar-right .dropdown-menu {
    right: 9px;
  }

  .dropdown-menu {
    min-width: 235px;
  }

  /* Intro
   *----------------------------------*/

  .intro-section h2 {
    font-size: 4.5em;
  }


  /* Certificação Digital
   *----------------------------------*/

  .cert-digit-section .jumbotron {
    min-height: 629.4px;
    margin: 0px 0px 50px 0px;
  }

  .cert-digit-section .btn {
    width: 50%;
  }


  /* Credit Service
   *----------------------------------*/

  .credit-service-section .credit-service-bg h1 {
    font-size: 3em;
    margin-top: -19.79px;
    margin-left: -204.87px;
  }
  

  .credit-service-section .jumbotron {
    margin: 0px 0px 50px 0px;
  }

  .credit-service-section #credit-service-group .btn {
    width: 75%;
  }


  /* Contato
   *----------------------------------*/


  /* Rodapé
   *----------------------------------*/

  .footer-section .img-footer {
    margin: 20px 0px 100px 0px;
  }
  
  .footer-section p {
    margin: 20px 0px 100px 0px;
  }


/* Medium devices (tablets, larguras a partir de 980px) */
@media screen and (min-width: 980px) {

  /* Navbar
   *----------------------------------*/

  .navbar-brand .img-responsive {
    margin-left: 5px;
  }
 
  .navbar-default .navbar-nav li a,
  .navbar-default .btn-link {
    font-size: 1.1em;
  }

  /* Intro
   *----------------------------------*/
  


  /* Certificado Digital
   *----------------------------------*/

  .cert-digit-section .btn {
    width: 35%;
  }


  /* Credit Service
   *----------------------------------*/

  .credit-service-section .btn {
    width: 28%;
  }

  .credit-service-section #credit-service-group .btn {
    width: 55%;
  }

}



/* Medium devices (desktops, larguras a partir de 1024px) */
@media screen and (min-width: 1024px) {

  /* Intro
   *----------------------------------*/
  .intro-section .container-fluid {
    margin-left: 30px;
  }

  .intro-section h2 {
    margin-top: 0px;
  }

  .intro-section p {
    font-size: 1.4em;
  }

  .intro-section small {
    font-size: 78%;
  }

  .introsection a {
    font-weight: bold;
  }

  /* Certificado Digital
   *----------------------------------*/

  .cert-digit-section .btn {
    width: 50%;
  }



  /* Credit Service
   *----------------------------------*/

  .credit-service-section .btn {
    width: 33%;
  }

  .credit-service-section #credit-service-group .btn {
    width: 75%;
  }


  .credit-service-section .jumbotron {
    margin-bottom: 28px;
  }


  /* Contato
   *----------------------------------*/


}



/* Medium devices (desktops, larguras a partir de 1024px e comprimentos até 768px) */
@media screen and (min-width: 1024px) and (min-height: 768px) {

  /* Intro
   *----------------------------------*/


}


/* Large devices (large desktops, larguras a partir de 1201px) */
@media screen and (min-width: 1201px) {

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }


  /* Navbar
   *----------------------------------*/

  .navbar-brand .img-responsive {
    margin-left: 34px;
  }


  /* Credit Service
   *----------------------------------*/

  .credit-service-bg {
    margin: 0px 13px 50px 13px;
  }


  /* Mapa
   *----------------------------------*/
  .embed-responsive-16by9 {
      padding-bottom: 30%;
  }


  /* Contato
   *----------------------------------*/


}


/* Large devices (large desktops, larguras a partir de 1900px) */
@media screen and (min-width: 1900px) {

  /* Intro
   *----------------------------------*/

}


/* Large devices (large desktops, larguras até 1200px) */
@media screen and (max-width: 1200px) {

  .container {
    width:100%;
  }
  
}


/* Small devices (tablets, larguras entre 768px e 1200px) */

@media screen and (min-width: 768px) and (max-width: 1200px) {

  /* Navbar
   *----------------------------------*/


}


/* Small devices (tablets, larguras entre 768px e 900px) */

@media screen and (min-width: 768px) and  (max-width: 900px) {

  /* Navbar
   *----------------------------------*/
 

}
