## python files to ignore
*.pyc
**/__pycache__/*
##**/migrations/*  

## DevEnv
*.src
*.sqlite3
public/
design/
DOC
funkload_tests/
/.cache
testes_pytest/
secret_key_dev
htmlcov
VarEnvServer
.cache/
.coverage

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
