{% extends 'base.html' %}
{% extends 'forms.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
      <div class="container">
        <div class="intro-bg">
        <div class="container-fluid">
          <div id="intro-info" class="row">
            <div class="hide-img">
              <div class="col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0">
                <img class="img-responsive" src="{% static 'img/introCertDigit.png' %}"></img>
              </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0">
              <h2>Certificado Digital</h2>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0">
              <p>O Certificado Digital é uma assinatura com validade jurídica 
              que garante proteção às transações eletrônicas e outros serviços 
              via internet, permitindo que pessoas e empresas se identifiquem 
              e assinem digitalmente de qualquer lugar do mundo com mais 
              segurança e agilidade.<br/>
              A Serasa Experian disponibiliza diferentes tipos de certificado, 
              de acordo com as necessidades de cada cliente.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-offset-1 col-md-12 col-md-offset-0">
              <p class="config-CertDigit"><small>Verifique se o computador no qual você utilizará o 
              certificado digital possui os requisitos técnicos para a correta 
              utililzação. <a href="" data-toggle="modal" data-target="#modalRequisitos"> CLIQUE AQUI.</a></small></p>
            </div>
          </div>  
        </div>
        </div>
      </div>
    </section>

    
		<!-- modalRequisitos -->
		<div class="modal fade" id="modalRequisitos" tabindex="-1" role="dialog" aria-labelledby="requisitos">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="requisitos">Requisitos técnicos para utilização</h4>
            <hr></hr>
          </div>
				  <div class="modal-body">
            <ul>
              <li>Sistema operacional: Windows XP SP3, Vista e 7</li>
              <li> Navegador: Internet Explorer 6.0, 7.0, 8.0 e 9.0</li>
              <li>Micro ou notebook com porta USB habilitada e acesso a internet</li>
              <li>Verificar com o administrador de rede se o perfil de usuário permite a instalação da leitora e o uso de seu certificado digital.</li>
            </ul>
					</div>
				</div>
      </div>
    </div>


    <!-- Certificação Digital Section -->
    <section id="cert-digit" class="cert-digit-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="jumbotron">
              <div class="jumbotron-photo"><img src="{% static 'img/ecnpj-home.jpg' %}"></div>
             <div class="jumbotron-contents">
               <h1>O e-CNPJ garante a autenticidade e a integridade nas transações 
               eletrônicas de pessoas jurídicas.</h1>
               <p>É a versão digital do CNPJ, que permite assinar digitalmente e
               transmitir dados de operações de Pessoa Jurídica, garantindo a 
               integridade das informações. Está vinculado à Receita Federal e, 
               por isso, deve ser emitido para o representante legal cadastrado 
               neste órgão.</p>
               <button type="button" class="btn btn-primary btn-block">SAIBA MAIS</button>
             </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="jumbotron">
              <div class="jumbotron-photo"><img src="{% static 'img/ecpf-home.jpg' %}"></div>
             <div class="jumbotron-contents">
               <h1>O e-CPF garante a autenticidade e a integridade nas transações 
               eletrônicas de pessoas físicas.</h1>
               <p>É a versão digital do CPF, que permite realizar operações de 
               Pessoa Física com validade jurídica pela internet. Também é possível 
               transmitir demonstrativos para a Receita Federal e efetuar outros 
               serviços em nome de uma empresa caso você a represente.</p>
               <button type="button" class="btn btn-primary btn-block">SAIBA MAIS</button>
             </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="jumbotron">
              <div class="jumbotron-photo"><img src="{% static 'img/nfe-home.jpg' %}"></div>
             <div class="jumbotron-contents">
               <h1>A NF-e é um documento de existência digital, emitido e 
               armazenado eletronicamente.</h1>
               <p>Utilizando-a, você não precisará mais dos talões de notas fiscais e 
               ainda terá acesso a um modelo nacional eletrônico de notas fiscais. 
               A Nota Fiscal Eletrônica já é uma realidade na legislação brasileira 
               desde outubro de 2005.<br/>Hoje, ela é utilizada por empresas de diversos 
               segmentos e portes, sendo assinada com certificados digitais.</p>
               <button type="button" class="btn btn-primary btn-block">SAIBA MAIS</button>
             </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Credit Service Section -->
    <section id="credit-service" class="credit-service-section">
      <div class="container">
        <div class="row">
          <div class="credit-service-bg">
            <h1>CREDIT SERVICE</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
            <div class="jumbotron">
              <div class="jumbotron-photo"><img src="{% static 'img/consulta.png' %}"></div>
             <div class="jumbotron-contents">
               <h1>Consulta de CPF / CNPJ</h1>
               <h3>Acesso rápido e fácil às informações de clientes e empresas.</h3>
               <p>Acesso ao maior banco de dados da América Latina. Consultas ao CPF 
               ou CNPJ dos seus clientes, parceiros e fornecedores.</p>
               <button type="button" class="btn btn-primary btn-block">SAIBA MAIS</button>
             </div>
            </div>
          </div>
          <div id="credit-service-group" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="jumbotron">
                  <div class="jumbotron-photo"><img src="{% static 'img/analise.jpg' %}"></div>
                  <div class="jumbotron-contents">
                    <h4>Análise de Crédito</h4>
                    <p>Acesse informações válidas, pelos dados cadastrais, 
                    para atualização de cadastro e liberação de crédito aos clientes.</p>
                    <button type="button" class="btn btn-primary btn-block">SAIBA MAIS</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="jumbotron">
                  <div class="jumbotron-photo"><img src="{% static 'img/negativacao.jpg' %}"></div>
                  <div class="jumbotron-contents">
                    <h4>Negativação de devedores</h4>
                    <p>Inclua anotações de devedores na maior base de dados de 
                    consultas utilizada no Brasil.</p>
                    <button type="button" class="btn btn-primary btn-block">SAIBA MAIS</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="jumbotron">
                  <div class="jumbotron-photo"><img src="{% static 'img/meproteja.jpg' %}"></div>
                  <div class="jumbotron-contents">
                    <h4>MeProteja CPF/CNPJ</h4>
                    <p>Monitoramento e alertas 24 horas por dia sobre consultas, 
                    dívidas ou riscos de fraude em seu CPF.</p>
                    <button type="button" class="btn btn-primary btn-block">SAIBA MAIS</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="jumbotron">
                  <div class="jumbotron-photo"><img src="{% static 'img/infobusca.jpg' %}"></div>
                  <div class="jumbotron-contents">
                    <h4>InfoBusca</h4>
                    <p>Relatório completo e atualizado do CNPJ da sua empresa e 
                    até 3 sócios. Evite fraudes que atrapalham os negócios.</p>
                    <button type="button" class="btn btn-primary btn-block">SAIBA MAIS</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Location Section -->
    <section id="location" class="map">
      <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-itema" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3674.70766599034!2d-45.46323628503398!3d-22.924150985003013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ccf03b727f6c43%3A0xa149ce0ff1997cc2!2sAv.+Cel.+Fernando+Prestes%2C+60+-+Centro%2C+Pindamonhangaba+-+SP%2C+12400-240!5e0!3m2!1spt-BR!2sbr!4v1471639652380" width="800" height="500" allowfullscreen></iframe>
        </div>
      </div>
    </section>


    <!-- Contact Section -->
    <section id="contact" class="contact-section">
      {% block form %}

      {% endblock%}
    </section>

{% endblock%}
