<!-- Modal -->
<div class="modal fade modal-style" id="analise" tabindex="-1" role="dialog" aria-labelledby="consultaLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="consultaLabel">AQUISIÇÃO E CONCESSÃO DE CRÉDITO</h4>
      </div>
      <div class="modal-body">
        <p>Amplie seu poder de decisão para conceder crédito. Conheça o potencial de consumo e
        de pagamento do seu cliente e conceda mais crédito com mais segurança.<br/>
        Com os serviços da Serasa Experian, sua empresa poderá determinar o potencial de consumo 
        do cliente, automatizar a análise e a decisão de crédito e ajustar qual meio de 
        pagamento ofertar ao consumidor, além de estabelecer políticas de crédito adequadas 
        para seu negócio.</p>
        <h6>Confira os produtos abaixo:</h6>
        <hr/>
        <p>RELATO MAIS</p>
        <p>Um relatório completo e simples de consultar sobre pequenas e médias empresas, 
        com o melhor custo-benefício do mercado.</p>
        <hr/>
        <p>POWERCURVE ONDEMAND</p>
        <p>O PowerCurve OnDemand é uma plataforma de crédito e de decisão voltada para grandes 
        financeiras, varejistas, atacadistas e concessionárias, na qual as empresas podem
        contar com informações detalhadas para a aquisição de novos clientes.</p>
        <hr/>
        <p>POWERCURVE ORIGINAÇÃO</p>
        <p>PowerCurve Originação é a solução que o auxiliará na gestão da concessão de crédito; 
        assim, você conhece mais o perfil de cada cliente. Trata-se de uma plataforma flexível 
        e extensível, o que favorece suas decisões de negócio e reduz os riscos.</p>
        <hr/>
        <p>CREDIT RATING</p>
        <p>O Credit Rating é a única solução no mercado que elabora a análise financeira das empresas, 
        considerando os três últimos demonstrativos contábeis.</p>
        <hr/>
        <p>FATURAMENTO PRESUMIDO</p>
        <p>O Faturamento Presumido é uma solução pioneira que disponibiliza o faturamento anual 
        estimado no último exercício social e permite avaliar o potencial de negócios das empresas.</p>
        <hr/>
        <p>RELATÓRIO DE CONFORMIDADE AMBIENTAL</p>
        <p>O produto Conformidade Ambiental é o resultado de uma tecnologia desenvolvida pela 
        Serasa Experian para o tratamento específico de informações de natureza ambiental 
        registradas nos órgãos ambientais oficiais, sobre as empresas.</p>
        <hr/>
        <p>SERASA EXPERIAN REPORTS</p>
        <p>Completo relatório econômico-financeiro e cadastral de empresas brasileiras, 
        com classificação do risco de crédito, destinado a orientar decisões envolvendo 
        negócios internacionais.</p>
        <hr/>
        <p>RELATÓRIO INTERNACIONAL</p>
        <p>Os Relatórios Internacionais Serasa Experian permitem uma completa visão sobre 
        organizações dos mais diversos ramos e portes, atuantes em todo o mundo.</p>
        <hr/>
        <p>CONSULTORIA</p>
        <p>O serviço de Consultoria Serasa Experian PowerCurve se integra à equipe de sua 
        empresa para identificar, avaliar e priorizar iniciativas orientadas para alcançar metas 
        e maximizar resultados.</p>
        <hr/>
        <p>OTIMIZAÇÃO</p>
        <p>Solução que utiliza métodos matemáticos para maximizar as estratégias aplicadas a 
        cada cliente, permitindo que se atinja o maior lucro possível, por meio da análise de 
        fatores limitantes (financeiros, operacionais, de relacionamento com o cliente etc.).</p>
        <hr/>
        <p>AGRUPE</p>
        <p>O Agrupe – Análise de Grupo Econômico é a solução desenvolvida pela Serasa Experian 
        para grupos econômicos, com o objetivo de apoiar o processo de avaliação do risco 
        global envolvido nas operações de crédito.</p>
        <hr/>
        <p>SETORISE</p>
        <p>O Setorise é a solução que acompanha e analisa mais de uma centena de segmentos da 
        economia brasileira por meio de relatórios de análise setorial.</p>
        <hr/>
        <p>GESTOR DE CRÉDITO</p>
        <p>O Gestor de Crédito Serasa Experian é uma plataforma de originação, decisão e concessão 
        de crédito, que viabiliza suas campanhas de vendas e marketing.</p>
        <hr/>
        <p>AUTORIZADOR</p>
        <p>O Autorizador de Crédito Serasa Experian é uma plataforma que pode ser utilizada por 
        empresas de qualquer porte ou segmento para analisar a concessão de crédito de cada cliente.</p>
        <hr/>
        <p>TRANSACT SM</p>
        <p>Plataforma completa para decisão de crédito, que inclui Sistema Operacional 
        (com front end para captura de dados de propostas, conexão de dados com fontes internas da 
        empresa e externas.</p>
        <hr/>
        <p>AM3</p>
        <p>O AM3 é a plataforma sob medida da Serasa Experian para captura e processamento de 
        propostas de crédito para proponentes pessoa física ou pessoa jurídica.</p>
        <hr/>
        <p>STRATEGY MANAGEMENT</p>
        <p>O Strategy Manager é a mais avançada solução de gerenciamento de estratégias, 
        desenvolvido na medida da necessidade de cada empresa.</p>
        <hr/>
        <p>POWERCURVE</p>
        <p>Uma solução que, por meio de um único sistema, garante a gestão completa do 
        ciclo de crédito.</p>
        <hr/>
        <p>GASTO ESTIMADO PJ</p>
        <p>Conheça a estimativa de gastos fixos das empresas e negocie com segurança.</p>
        <hr/>
        <p>CONFORMIDADE SOCIAL E FISCAL</p>
        <p>Consolide em um único relatório os principais status sociais e fiscais de seus clientes e 
        fornecedores para uma avaliação rápida e precisa.
        <hr class="hr-last"></hr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">FECHAR</button>
      </div>
    </div>
  </div>
</div>
