<!-- Modal -->
<div class="modal fade modal-style" id="meproteja" tabindex="-1" role="dialog" aria-labelledby="consultaLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="consultaLabel">MeProteja</h4>
      </div>
      <div class="modal-body">
        <p>Evite fraudes no seu CPF ou CNPJ 24 horas por dia.</p>
        <hr/>
        <p>Com MeProteja CPF, você fica sabendo:<p>
        <ul>
          <li>Se o seu nome está limpo;</li>
          <li>Se fizeram alguma dívida em seu nome;</li>
          <li>Se alguma empresa consultou o seu nome;</li>
          <li>Se você corre o risco de ser negativado;</li>
          <li>Se existem empresas registradas em seu nome;</li>
          <li>Dicas para se proteger contra fraudes.</li>
        </ul>
        <hr/>
        <p>NOVO: DICA POR SMS.</p>
        <hr/>
        <h6>Meproteja CNPJ</h6>
        <p>MeProteja Empresas é uma solução que monitora tudo o que acontece no CNPJ e CPF dos sócios. 
        É prático e oferece a segurança necessária para o sucesso em seus negócios.</p>
        <ul>
          <li>Acessar ao relatório completo e atualizado do CNPJ da empresa;</li>
          <li>Adicionar o CPF/CNPJ de até 3 sócios ao serviços e proteger ainda mais seus negócios;</li>
          <li>Aviso por e-mail se houver inclusão ou exclusão de anotações negativas;</li>
          <li>Evitar fraudes em seu nome.</li>
        </ul>
        <hr class="hr-last"></hr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">FECHAR</button>
      </div>
    </div>
  </div>
</div>
