<!-- Modal -->
<div class="modal fade modal-style" id="negativacao" tabindex="-1" role="dialog" aria-labelledby="consultaLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="consultaLabel">GESTÃO DE COBRANÇA</h4>
      </div>
      <div class="modal-body">
        <p>Recupere mais clientes investindo menos. Na hora da cobrança, busque e localize 
        seus clientes com grande eficácia e melhore seus resultados.</p>
        <p>Ajudamos a sua empresa a localizar clientes inadimplentes, abordá-los no 
        momento certo, além de monitorar o perfil dos devedores e ampliar o retorno 
        das cobranças.Com nossos serviços, você automatiza os processos de cobrança 
        e identifica quais ações e canais utilizar para ampliar as chances de 
        recuperar cada cliente.</p>
        <p>Confira os produtos abaixo:</p>
        <hr/>
        <p>REFIN</p>
        <p>O Refin é um banco de dados de pendências bancárias de consumidores e empresas.
        A eficiência das informações deste banco está em sua atualização constante.</p>
        <hr/>
        <p>INCLUSÃO DE DEVEDORES NO BANCO DE DADOS DA SERASA EXPERIAN ( PEFIN )</p>
        <p>Você pode incluir um CPF ou CNPJ na lista de devedores. A Serasa Experian envia 
        uma carta para o cliente, informa sobre a dívida e orienta a respeito do pagamento.</p>
        <hr/>
        <p>CARTA-BOLETO</p>
        <p>A carta-boleto Serasa Experian permite a inclusão de um boleto bancário na 
        carta-comunicado enviada no processo de negativação Pefin/Refin, a fim de facilitar
        e incentivar a regularização do débito pelo consumidor.</p>
        <hr/>
        <p>SEGUNDA CARTA-BOLETO</p>
        <p>Solução que permite o envio de uma segunda comunicação do Pefin/Refin para o cliente 
        inadimplente com dívida ativa na base do Pefin/Refin, com a intenção de incentivá-lo 
        a regularizar o débito.</p>
        <hr/>
        <p>ANÁLISE DA CARTEIRA</p>
        <p>Criado para garantir a segurança e a lucratividade em negócios com pessoas que
        tenham dívidas em atraso, o Análise da Carteira de Cobrança Serasa Experian oferece 
        a posição do CPF em relação a outros credores no mercado.</p>
        <hr/>
        <p>LISTA PREMIUM</p>
        <p>Lista Premium apresenta os clientes em atraso com maior probabilidade de 
        recuperação, além de dados que propiciam a rápida localização do cliente 
        (melhor endereço e telefone).</p>
        <hr/>
        <p>GERENCIE CARTEIRA</p>
        <p>O Gerencie Carteira é uma solução que permite o monitoramento individual 
        de clientes e o acompanhamento global da evolução da carteira, monitorando 
        diariamente suas alterações e enviando avisos de alteração por e-mail.</p>
        <hr/>
        <p>STRATEGY MANAGEMENT</p>
        <p>O Strategy Manager é a mais avançada solução de gerenciamento de estratégias, 
        desenvolvido na medida da necessidade de cada empresa.</p>
        <hr/>
        <p>CONSULTORIA</p>
        <p>O serviço de Consultoria Serasa Experian PowerCurve se integra à equipe de sua 
        empresa para identificar, avaliar e priorizar iniciativas orientadas para alcançar 
        metas e maximizar resultados.</p>
        <hr/>
        <p>OTIMIZAÇÃO</p>
        <p>Solução que utiliza métodos matemáticos para maximizar as estratégias aplicadas 
        a cada cliente, permitindo que se atinja o maior lucro possível, por meio da 
        análise de fatores limitantes (financeiros, operacionais, de relacionamento 
        com o cliente etc.).</p>
        <hr/>
        <p>POWERCURVE</p>
        <p>Uma solução que, por meio de um único sistema, garante a gestão completa 
        do ciclo de crédito.</p>
        <hr/>
        <p>MEGA COBRANÇA</p>
        <p>O Mega Cobrança avalia, com precisão e rapidez, o potencial de recuperação de 
        clientes em atraso, além de sugerir as ações de cobrança mais adequadas ao 
        comportamento de mercado de cada um deles.</p>
        <hr/>
        <p>LIMPA NOME ONLINE</p>
        <p>Impulsione seus resultados de recuperação tornando-se uma empresa participante 
        do Limpa Nome Online e sendo a primeira opção de pagamento dos seus clientes 
        em atraso.</p>
        <hr class="hr-last"></hr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">FECHAR</button>
      </div>
    </div>
  </div>
</div>
