<!-- Modal -->
<div class="modal fade modal-style" id="infobusca" tabindex="-1" role="dialog" aria-labelledby="consultaLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="consultaLabel">INFOBUSCA</h4>
      </div>
      <div class="modal-body">
        <p>O InfoBusca é a solução ideal para você:</p>
        <ul>
          <li>Qualificar e confirmar dados;</li>
          <li>Localizar clientes e obter diversas informações, das mais básicas às mais exclusivas.</li>
        </ul>
        <p>Disponível em plataforma online ou por meio de integração com o sistema que sua 
        empresa já utiliza, o InfoBusca encontra e valida dados de consumidores e empresas 
        a partir de nome, razão social, CPF, CNPJ, telefone ou endereço. É a maneira mais 
        rápida e fácil para ter acesso imediato às informações mais atualizadas do mercado.</p>
        <h6>Vantagens:</h6>
        <hr/>
        <p>PRECISÃO</p>
        <p>Validação e preenchimento de dados na entrada, no momento da captação.</p>
        <hr/>
        <p>AGILIDADE</p>
        <p>Redução do tempo de cadastro nos canais de entrada.</p>
        <hr/>
        <p>ECONOMIA</p>
        <p>Redução de custos e aumento do retorno nas ações de marketing e cobrança.</p>
        <hr/>       
        <p>ATUALIZAÇÃO</p>
        <p>Melhoria na qualidade da base de dados.</p>
        <hr/>
        <p>RAPIDEZ</p>
        <p>Praticidade na confirmação dos dados e localização de consumidores e empresas 
        em tempo real.</p>
        <hr class="hr-last"></hr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">FECHAR</button>
      </div>
    </div>
  </div>
</div>
