    <!-- Accordion Section -->
    <section id="e-cnpj" class="accordion-section">
      <div class="container">
        <div class="row">
          <h4>Loren ipsum dolor sit amet, consectetur adispiscing elit, praesent malesuada mauris</h4>
        </div>
        <div class="row">
          <div class="panel-group panel-group-lists" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingOne">
                <h5 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Acessar o E-CAC
                  </a>
                </h5>
              </div>
              <!-- Adicioanar a classe 'in' para iniciar o item aberto -->
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>O e-CAC (Centro Virtual de Atendimento ao Contribuinte) é o portal de serviços 
                  que permite a comunicação via internet entre o contribuinte e a Receita Federal 
                  do Brasil (RFB).
                  Para usufruir alguns serviços disponíveis no e-CAC com segurança é indicado 
                  obter um Certificado Digital e-CPF ou e-CNPJ. Em ambos os casos o cliente Serasa 
                  pode optar pelos modelos A1 (espécie software para ser instalado no computador, 
                  com validade de 1 ano) e A3 (cartão ou token, com validade de 1, 2 ou 3 anos).<br/>
                  O e-CPF é indicado para acesso a serviços de pessoa física ou para representante 
                  legal da empresa, que nesse caso poderá visualizar uma série de serviços online 
                  da pessoa jurídica. Existe ainda a opção “alterar perfil de acesso”, usada quando 
                  uma Pessoa Física deseja visualizar os dados da Pessoa Jurídica ou o contrário.
                  Já o Certificado Digital e-CNPJ, destinado à própria Pessoa Jurídica, sendo que 
                  também pode ser usado para receber uma procuração com o objetivo de realizar 
                  serviços de uma outra Pessoa Jurídica, como nos casos dos escritórios de 
                  contabilidade, por exemplo.</p>
                  
                  <p>Por meio do portal e-CAC é possível:</p>

                  <h5>CEI (Cadastro Específico do INSS)</h5>
                  <p>Fazer inscrição, consultar e alterar o CEI (Cadastro Específico do INSS).</p>

                  <h5>Situação fiscal</h5>
                  <p>Verificar a situação fiscal.</p>

                  <h5>2ª via das DCTF</h5>
                  <p>Consultar a 2ª via das declarações DCTF (Declaração de Débitos e Créditos 
                  Tributários Federais), DIPJ (Declaração de Informações Econômico-fiscais da Pessoa 
                  Jurídica), DIRF (Declaração do Imposto sobre a Renda Retido na Fonte), DIMOB 
                  (Declaração de Informações sobre Atividades Imobiliárias), DITR (Declaração do 
                  Imposto sobre a Propriedade Territorial Rural), DERC (Declaração de Rendimentos 
                  Pagos a Consultores por Organismos Internacionais), DACON (Demonstrativo de 
                  Apuração de Contribuições Sociais), DIMOF (Declaração de Informações sobre 
                  Movimentação Financeira), DASN (Declaração Anual do Simples Nacional), DBF 
                  (Declaração de Benefícios Fiscais).</p>
                  
                  <p><strong>Verificar rendimentos</strong><br/>
                  Verificar rendimentos informados por fontes pagadoras.</p>
                  
                  <p><strong>Extrato do Imposto de Renda</strong><br/>
                  Obter extrato das últimas declarações do Imposto de Renda de Pessoa Física.</p>
                  
                  <p><strong>DARF e REDARF</strong><br/>
                  Consultar dívidas ativas na União, corrigir pagamentos e parcelar débitos do 
                  DARF (Documento de Arrecadação de Receitas Federais) e fazer a retificação REDARF.<p>
                  
                  <p><strong>Atendimento da Receita Federal</strong><br/>
                  Agendar serviços em postos de atendimentos da Receita Federal.</p>

                  <p><strong>Procuração eletrônica</strong><br/>
                  Cadastrar, consultar e cancelar procuração eletrônica.</p>

                  <p><strong>Serviços exclusivos para e-CPF:</strong><br/></p>

                  <p><em>Cadastro de Pessoa Física</em><br/>
                  Alterar ou complementar o Cadastro de Pessoa Física (CPF).</p>

                  <p><em>Imposto de Renda de Pessoa Física</em><br/>
                  Obter as Declarações de Imposto de Renda de Pessoa Física de anos anteriores, 
                  verificar se o CPF possui alguma pendência com a Receita e acompanhar o status 
                  do imposto enviado, identificar se está ou não na Malha Fina, e saber o motivo.</p>

                  <p><em>Serviços do DIRPF</em><br/>
                  Dispor de serviços relacionados ao DIRPF - Declaração do Imposto sobre a Renda 
                  da Pessoa Física, como: Cópia de Declaração; Declaração Pré-Preenchida; 
                  Retificadora OnLine (Extrato da DIRPF); Pedido de Antecipação de Análise da DIRPF.</p>
                  <p><em>DTE</em><br/>
                  Optar pelo Domicílio Tributário Eletrônico (DTE).</p>

                  <p><em>Antecipação da DIRPF</em><br/>
                  Pedir a Antecipação de Análise da DIRPF.</p>
                  
                  <p><em>SPED Contábil e Fiscal – EFD e ECD</em><br/>
                  Acessar o Sistema Público de Escrituração Contábil e Fiscal da empresa 
                  (SPED Contábil e Fiscal – EFD e ECD, caso seja o procurador da empresa ou nos 
                  casos de empregador autônomo).</p>
                  
                  <p><strong>Serviços exclusivos para e-CNPJ:</strong></p>
                  
                  <p><em>Comprovante de CNPJ</em><br/>
                  Consultar e emitir o comprovante do Cadastro Nacional de Pessoa Jurídica (CNPJ).</p>

                  <p><em>Acompanhamento Econômico-Tributário</em><br/>
                  Cadastrar os responsáveis pelo Acompanhamento Econômico-Tributário Diferenciado.</p>

                  <p><em>Declaração de Débitos e Créditos</em><br/>
                  Consultar as intimações relativas à Declaração de Débitos e Créditos Tributários 
                  Federais (DCTF).</p>
                  
                  <p><em>Simples Nacional</em><br/>
                  Verificar ação fiscal do Simples Nacional.</p>
                  
                  <p><em>DIPJ e Dmed</em><br/>
                  Visualizar as últimas Declarações de Informações Econômico-Fiscais de Pessoa 
                  Jurídica (DIPJ) e Declarações de Serviços Médicos e de Saúde (Dmed).</p>
                  
                  <p><em>Consultar o MEI</em><br/>
                  Consultar declaração do Microempreendedor Individual (MEI).</p>

                  <p><em>Declaração do Simples Nacional</em><br/>
                  Aderir à Declaração Anual do Simples Nacional.</p>
                  
                  <p><em>Intimações, Malha Fiscal e Cobrança</em><br/>
                  Verificar Intimações, Malha Fiscal e Cobrança; Avisos de Cobrança; 
                  Intimações Malha DCTF.</p>
                  
                  <p><em>Extrato do DCTF</em></br>
                  Obter Extrato do Processamento – DCTF.</p>
                  
                  <p><em>Consulta de Rendimentos</em><br/>
                  Consultar Rendimentos Informados por Fontes Pagadoras.
                  Com os Certificados Digitais da Serasa, você tem mais segurança para realizar 
                  importantes operações no e-CAC, no Conectividade Social, no Simples Nacional 
                  e em outros portais de órgãos fiscalizadores e administrações tributárias.</p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h5 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Assinar a escrituração contábil e fiscal
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingThree">
                <h5 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    SPED
                  </a>
                </h5>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
