{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Header Section -->
    <section id="nf-e" class="header-section">
      <div class="container">
        <div class="nfe-banner">
          <div class="container-fluid">
            <img class="img-responsive pull-right" src="{% static 'img/logo-serasa.png' %}"></img>
        </div>
      </div>
    </section>

{% include 'certificado-digital/tabela.html' %}

{% include 'certificado-digital/acordeon.html' %}

{% endblock %}
